/*Import Roboto light 100 font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.footer, .hero, .header{
    background-color: #1F2937;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.hero-left{
    display: flex;
    flex-direction: column;
    padding: 10px 100px;
}

.hero-right{
    color: #E5E7EB;
    width: 150px;
    padding: 10px 200px;
    flex: 0 0 auto;
}

.hero-right img{
    width: inherit;
    height: auto;
}

.text-one{
    font-size: 48px;
    font-weight: 1000;
    color: #F9FaF8;
    padding: 5px;
    margin: 0;
}

.text-two{
    margin: 0;
    padding: 5px;
}

.text-two, .header-links{
    font-size: 18px;
    color: #E5E7EB;
}

.header{
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.header a{
    text-decoration: none;
    color: inherit;
}

.header a:visited{
    color: inherit;
}

.header-links{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}


.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.button{
    border-radius: 5px;
    font-weight: bold;
    width: 100px;
    flex: 0 1 auto;
    padding: 5px;
    margin: 20px 0;
}

.hero-button{
    background-color: #3882f6;
    color:#E5E7EB;
    border: 2px solid #3882f6;
}

.singup{
    background-color: #3882f6;
}

.title{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 40px;
}

.quote{
    background-color: #e5e7eb;
}
.quote-text{
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
}

.sign{
    font-size: 18px;
    font-weight: bolder;
    color: #1f2937;
    margin-right: 0;
    margin-left: auto;
}

/*Make a flexible container for info cards*/
.illustration{
    display: flex;
    flex-flow: row wrap;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}
.info img{
    width: 100px;
    height: auto;
}

/*Unify images sizes and anchor the text below*/
.image-frame{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.action-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 200px;
}

.action-container{
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    color:#F9FaF8;
    border-radius: 10px;
    flex: 0 0 auto;
    height: 100px;
    width: 800px;
}

.action-text{
    font-size: 18px;
}

.signup-button{
    border: 2px solid #e5e7eb;
    background-color: #3882f6;
    color:#e5e7eb;
}

.footer{
    flex: 0 0 auto;
    text-align: center;
    color: #E5E7EB;
    padding: 10px;
    margin-bottom: 0;
    margin-top: auto;
}